<div class="container p-3">
  <div class="card p-3 position-relative">
    <h3><%= @task.title.upcase %></h3>
    <hr>
    <p><strong>Details:</strong> <%= @task.details %></p>
    <hr>
    <p>This task<strong> has <%= @task.completed? ? "" : "not" %></strong> been completed.</p>
    <hr>
    <p><strong>Completion date and time:</strong> <%= @task.date %></p>
    <%= link_to plan_task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Delete #{@task.title}?" }, class: 'position-absolute bottom-0 end-0 mb-3 mx-3 text-decoration-none text-secondary' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to edit_plan_task_path(@task), class: 'position-absolute bottom-0 end-0 mb-3 mx-5 text-decoration-none text-secondary' do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </div>
  <%= link_to '< Back to the tasks', plan_tasks_path, class: 'btn btn-secondary mt-3' %>
</div>
